<div class="footer-spacing" style="height: 50px; width: 100%; background-color: #121212;"></div>
<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h2 class="footer-logo">SoulHaven</h2>
            <p class="footer-description">A tribute from metalheads <br> to everyone who carries metal in their
                heart.<br><span class="highlight">Praise the sun!</span></p>
        </div>
        <div class="footer-column">
            <h3 class="footer-heading">Explore</h3>
            <ul class="footer-links">
                <li><a routerLink="/" class="footer-link">Home</a></li>
                <li><a href="#" class="footer-link">About Us</a></li>
                <li><a href="#" class="footer-link">Services</a></li>
                <li><a href="#" class="footer-link">Careers</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3 class="footer-heading">Contact</h3>
            <p>Address: 123 Example Street,<br> City, Country</p>
            <p>Email: <a href="mailto:contact@name.com" class="footer-link">contactnombre.com</a></p>
            <p>Phone: <span class="highlight">+34 123 456 789</span></p>
        </div>
        <div class="footer-column">
            <h3 class="footer-heading">Follow Us</h3>
            <ul class="footer-links">
                <li><a href="#" class="footer-link">Instagram</a></li>
                <li><a href="#" class="footer-link">Twitter</a></li>
                <li><a href="#" class="footer-link">LinkedIn</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 <span class="highlight">Name</span>. All rights reserved.</p>
    </div>
</footer>