<div class="footer-spacing" style="height: 50px; width: 100%; background-color: #121212;"></div>
<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h2 class="footer-logo">SoulHaven</h2>
            <p class="footer-description">Un tributo de metaleros <br> para todos los que llevan el metal en el
                corazón.<br><span class="highlight">Alabado sea el sol!</span></p>
        </div>
        <div class="footer-column">
            <h3 class="footer-heading">Explorar</h3>
            <ul class="footer-links">
                <li><a routerLink="/" class="footer-link">Inicio</a></li>
                <li><a href="#" class="footer-link">Nosotros</a></li>
                <li><a href="#" class="footer-link">Servicios</a></li>
                <li><a href="#" class="footer-link">Carreras</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3 class="footer-heading">Contacto</h3>
            <p>Dirección: 123 Calle Ejemplo,<br> Ciudad, País</p>
            <p>Email: <a href="mailto:contacto@nombre.com" class="footer-link">contactonombre.com</a></p>
            <p>Teléfono: <span class="highlight">+34 123 456 789</span></p>
        </div>
        <div class="footer-column">
            <h3 class="footer-heading">Síguenos</h3>
            <ul class="footer-links">
                <li><a href="#" class="footer-link">Instagram</a></li>
                <li><a href="#" class="footer-link">Twitter</a></li>
                <li><a href="#" class="footer-link">LinkedIn</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 <span class="highlight">Nombre</span>. Todos los derechos reservados.</p>
    </div>
</footer>