<div class="body">
    <div *ngIf="currentStep === 1" class="forgot-password-container">
        <form [formGroup]="myForm" (ngSubmit)="sendEmail()" class="forgot-password-form">
            <h2>Recuperar contraseña</h2>
            <div class="inputBx">
                <input type="text" placeholder="Email" formControlName="email">
            </div>
            @if (isNotValidField('email')) {
            <p class="error">El email es requerido y debe de tener un formato de email</p>
            }
            <div class="inputBx">
                <input type="submit" value="Enviar código">
            </div>
        </form>
    </div>

    <div *ngIf="currentStep === 2" class="forgot-password-container">
        <form [formGroup]="myForm" (ngSubmit)="sendVerifyCode()" class="forgot-password-form">
            <h2>Recuperar contraseña</h2>
            <div class="inputBx">
                <input type="text" placeholder="Código" formControlName="code">
            </div>
            @if (isNotValidField('code')) {
            <p class="error">El código es requerido</p>
            }
            <div class="inputBx">
                <input type="submit" value="Verificar código">
            </div>
        </form>
    </div>

    <div *ngIf="currentStep === 3" class="forgot-password-container">
        <form [formGroup]="myForm" (ngSubmit)="resetPassword()" class="forgot-password-form">
            <h2>Recuperar contraseña</h2>
            <div class="inputBx">
                <input type="password" placeholder="Nueva contraseña" formControlName="newPassword">
            </div>
            <div class="inputBx">
                <input type="password" placeholder="Confirmar contraseña" formControlName="confirmPassword">
            </div>
            <p class="error" *ngIf="myForm.invalid && myForm.errors?.['passwordsNotMatching']">
                ❌ Las contraseñas no coinciden
            </p>
            <div class="inputBx">
                <input type="submit" value="Restablecer contraseña">
            </div>
        </form>
    </div>
</div>