<div class="body">
    <div *ngIf="currentStep === 1" class="forgot-password-container">
        <form [formGroup]="myForm" (ngSubmit)="sendEmail()" class="forgot-password-form">
            <h2>Recover password</h2>
            <div class="inputBx">
                <input type="text" placeholder="Email" formControlName="email">
            </div>
            @if (isNotValidField('email')) {
            <p class="error">Email is required and must be in a valid format</p>
            }
            <div class="inputBx">
                <input type="submit" value="Send Code">
            </div>
        </form>
    </div>

    <div *ngIf="currentStep === 2" class="forgot-password-container">
        <form [formGroup]="myForm" (ngSubmit)="sendVerifyCode()" class="forgot-password-form">
            <h2>Recover password</h2>
            <div class="inputBx">
                <input type="text" placeholder="Code" formControlName="code">
            </div>
            @if (isNotValidField('code')) {
            <p class="error">The code is required</p>
            }
            <div class="inputBx">
                <input type="submit" value="Verify Code">
            </div>
        </form>
    </div>

    <div *ngIf="currentStep === 3" class="forgot-password-container">
        <form [formGroup]="myForm" (ngSubmit)="resetPassword()" class="forgot-password-form">
            <h2>Recover password</h2>
            <div class="inputBx">
                <input type="password" placeholder="New Password" formControlName="newPassword">
            </div>
            <div class="inputBx">
                <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
            </div>
            <p class="error" *ngIf="myForm.invalid && myForm.errors?.['passwordsNotMatching']">
                ❌ Passwords do not match
            </p>
            <div class="inputBx">
                <input type="submit" value="Reset Password">
            </div>
        </form>
    </div>
</div>