<div *ngIf="currentStep === 1">
    <form [formGroup]="myForm" (ngSubmit)="sendEmail()">
        <h2>Recuperar contraseña</h2>
        <input type="text" placeholder="Email" formControlName="email">
        @if (isNotValidField('email')) { <!-- para mostrar los errores -->
        <p class="error">El email es requerido y debe de tener un formato de email</p>
        }
        <input type="submit" value="Enviar código">
    </form>
</div>

<div *ngIf="currentStep === 2">
    <form [formGroup]="myForm" (ngSubmit)="sendVerifyCode()">
        <h2>Recuperar contraseña</h2>
        <input type="text" placeholder="Code" formControlName="code">
        @if (isNotValidField('code')) { <!-- para mostrar los errores -->
        <p class="error">El code es requerido</p>
        }
        <input type="submit" value="Enviar código">
    </form>
</div>

<div *ngIf="currentStep === 3">
    <form [formGroup]="myForm" (ngSubmit)="resetPassword()">
        <h2>Recuperar contraseña</h2>
        <input type="text" placeholder="new password" formControlName="newPassword">
        @if (isNotValidField('newPassword')) { <!-- para mostrar los errores -->
        <p class="error">El code es requerido</p>
        }
        <input type="text" placeholder="confirm Password" formControlName="confirmPassword">
        @if (isNotValidField('confirmPassword')) { <!-- para mostrar los errores -->
        <p class="error">El code es requerido</p>
        }
        <input type="submit" value="Enviar código">
    </form>
</div>