<div class="card">
    <img [src]="concert.image || 'noImage.png'" alt="{{concert.title}}" (click)="goToDetails()">
    <p>{{ concert.title }}</p>
    <p>{{ concert.date | date: 'd MMM y'}}</p>
    <p>Banda: {{ concert.band.bandName }}</p>
    <!-- <p>Description: {{ concert.description }}</p>s -->
    <!-- <p>Genero: {{ concert.band.genre }}</p> -->
    <p>Location: {{ concert.location }}</p>
    <button (click)="addToFavorites()">⭐ Añadir a Favoritos</button>
    <button (click)="removeToFavorites()"> elimar de Favoritos</button>

</div>