<div class="sidebar">
  <div class="profile-actions">
    <button class="btn" (click)="goToProfile()">
      <i class="fas fa-heart"></i> Profile
    </button>
    <button class="btn" (click)="goToFavorites()">
      <i class="fas fa-heart"></i> Favorite Concerts
    </button>
    <button class="btn" (click)="goToSubscriptions()">
      <i class="fas fa-users"></i> Subscribed Bands
    </button>
    <button class="btn" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> Logout
    </button>
    <button class="btn" (click)="goToForgotPassword()">
      <i class="fas fa-key"></i> Forgot Password
    </button>
  </div>
</div>