<nav mat-toolbar class="navbar">
    <div class="nav-content">

        <!-- Título de la página más grande -->
        <span class="brand">Mi Portafolios</span>

        <!-- Enlaces visibles en escritorio, centrados y con iconos -->
        <div class="nav-links" *ngIf="!isMobile">
            <a class="nav-link" routerLink=""><mat-icon>home</mat-icon> Inicio</a>
            <a class="nav-link" href="#education"><mat-icon>school</mat-icon> Educación</a>
            <a class="nav-link" routerLink="knoledge"><mat-icon>code</mat-icon> Conocimientos</a>
            <a class="nav-link" routerLink="about"><mat-icon>info</mat-icon> Sobre esta página</a>
            <a class="nav-link" routerLink="contact"><mat-icon>mail</mat-icon> Contacto</a>
            <a class="nav-link" href="https://github.com/Ivan-Oliver-Funes" target="_blank"><i
                    class="fa-brands fa-github"></i>GitHub</a>
            <a class="nav-link" href="https://www.linkedin.com/in/ivan-oliver-funes-a2b686348/" target="_blank"><i
                    class="fa-brands fa-linkedin"></i>Linkedin</a>

        </div>

        <!-- Botón hamburguesa con animación -->
        <button class="menu-button" [class.open]="menuOpen" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>

<!-- Menú lateral responsive -->
<div class="menu-overlay" *ngIf="menuOpen" (click)="toggleMenu()"></div>
<div class="side-menu" [class.open]="menuOpen">
    <div class="menu-header">
        <span class="menu-title">Menú</span>
        <button mat-icon-button (click)="toggleMenu()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <ul class="menu-list">
        <li><a routerLink=""><mat-icon>home</mat-icon> Home</a></li>
        <li><a href="#education"><mat-icon>school</mat-icon> Educación</a></li>
        <li><a routerLink="knoledge"><mat-icon>code</mat-icon> Conocimientos</a></li>
        <li><a routerLink="about"><mat-icon>info</mat-icon> Sobre esta página</a></li>
        <li><a routerLink="contact"><mat-icon>mail</mat-icon> Contacto</a></li>
        <li> <a href="https://www.linkedin.com/in/ivan-oliver-funes-a2b686348/" target="_blank" class="icon-link">
                <i class="fa-brands fa-github"></i>GitHub
            </a></li>
        <li> <a href="https://github.com/Ivan-Oliver-Funes" target="_blank" class="icon-link">
                <i class="fa-brands fa-linkedin"></i>Linkedin
            </a></li>



    </ul>
</div>