<header class="header">
    <a routerLink="/" class="logo">Logo</a>
    <i class="fa-solid fa-bars" id="menu-icon" [class.active]="menuActive" (click)="toggleMenu()"></i>

    <nav class="navbar" [class.active]="menuActive">
        <a routerLink="/home" (click)="closeMenu()">Home</a>
        <a routerLink="/concerts-page" (click)="closeMenu()">Concerts</a>
        <a routerLink="/bands-page" (click)="closeMenu()">Bands</a>

        <!-- 🔥 Mostrar "Sign In" si NO hay sesión activa -->
        <ng-container *ngIf="(user$ | async) === null">
            <a routerLink="/login" (click)="closeMenu()">Sign In</a>
        </ng-container>

        <!-- 🔥 Mostrar el nombre del usuario y Logout si hay sesión activa -->
        <ng-container *ngIf="(user$ | async) as user">
            <a routerLink="/profile" (click)="closeMenu()">{{ user.username }}</a>
            <a routerLink="/home" (click)="closeMenu(); logout()">Logout</a>
        </ng-container>
    </nav>
</header>

<div class="nav-bg" [class.active]="menuActive" (click)="closeMenu()"></div>