<header class="header">
    <a routerLink="/" class="logo">Logo</a>
    <i class="fa-solid fa-bars" id="menu-icon" [class.active]="menuActive" (click)="toggleMenu()"></i>
    <nav class="navbar" [class.active]="menuActive">
        <a routerLink="/" (click)="closeMenu()">Home</a>
        <a routerLink="/about" (click)="closeMenu()">About</a>
        <a routerLink="/portfolio" (click)="closeMenu()">Portfolio</a>
        <a routerLink="/services" (click)="closeMenu()">Services</a>
        <a routerLink="/contact" (click)="closeMenu()">Contact</a>
    </nav>
</header>
<div class="nav-bg" [class.active]="menuActive" (click)="closeMenu()"></div>