<main>
    <form [formGroup]="filterForm" (ngSubmit)="applyFilters()" class="filter-bar">
        <input type="text" placeholder="Name" formControlName="bandName" class="filter-input">
        <select formControlName="genre" class="filter-select">
            <option value="" selected>Selecciona un género</option>
            <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
        </select>
    </form>
    <app-bands-list [fetchData]="bandsService.getBandsAll.bind(bandsService)"
        [filters]="filterForm.value"></app-bands-list>
</main>