<!-- <div class="band-profile" *ngIf="band; else loading">
    <div class="band-hero" [style.backgroundImage]="'url(' + band.image + ')'">
        <div class="overlay">
            <h1>{{ band.name }}</h1>
            <p class="genre">{{ band.genre }}</p>
        </div>
    </div>

    <div class="band-details">
        <p class="description">{{ band.description }}</p>
    </div>
</div>

<section class="concerts-section" *ngIf="band?._id">
    <app-concerts-list [fetchData]="concertsService.getConcertsByBandId.bind(concertsService, band?._id || '')"
        [title]="'🎸Conciertos de ' + (band?.name || 'la banda')">
    </app-concerts-list>
</section>

<ng-template #loading>
    <p class="loading-text">⏳ Cargando datos...</p>
</ng-template>

<ng-template #noConcerts>
    <p class="no-concerts">❌ No hay conciertos programados.</p>
</ng-template> -->