<div class="body">
    <div class="ring">
        <i style="--clr: #00f0a;"></i>
        <i style="--clr: #ff00bb;"></i>
        <i style="--clr: #ff00bb;"></i>

        <div class="login">
            <h2>Register</h2>
            <form [formGroup]="myForm" (ngSubmit)="registerBand()">
                <div class="inputBx">
                    <input type="text" placeholder="Band Name" formControlName="bandName" />
                    @if (isNotValidField('bandName')) {
                    <p class="error">Band name is required</p>
                    }
                </div>

                <div class="inputBx">
                    <input type="text" placeholder="Description" formControlName="description" />
                    @if (isNotValidField('description')) {
                    <p class="error">Description is required</p>
                    }
                </div>

                <div class="inputBx">
                    <select formControlName="genre">
                        <option value="" disabled selected>Select a genre</option>
                        <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
                    </select>
                    @if (isNotValidField('genre')) {
                    <p class="error">Genre is required</p>
                    }
                </div>

                <div class="inputBx">
                    <input type="text" placeholder="Email" formControlName="email" />
                    @if (isNotValidField('email')) {
                    <p class="error">Email is required and must have a valid format</p>
                    }
                </div>

                <div class="inputBx">
                    <input type="password" placeholder="Password" formControlName="password" />
                    @if (isNotValidField('password')) {
                    <p class="error">Password is required and must be at least 6 characters long</p>
                    }
                </div>

                <div class="inputBx">
                    <input type="submit" value="Sign Up" />
                </div>
            </form>

            <div class="links">
                <a routerLink="/login">Sign In</a>
            </div>
        </div>
    </div>
</div>