.mascot {
    position: fixed;
    bottom: 10%;
    right: 0;
    width: 200px;
    height: 40px;
    cursor: pointer;
    transition: right 0.3s ease-in-out;
}

.mascot img {
    width: 100%;
    height: auto;
    display: block;
}