<main>
    <app-slider></app-slider>
    <app-concerts-list [fetchData]="concertsService.getConcertsUpcoming.bind(concertsService)"
        title="Concerts Recent"></app-concerts-list>
    <app-concerts-list [fetchData]="concertsService.getMostPopularConcerts.bind(concertsService,4)"
        title="Concerts Populated"></app-concerts-list>
    <app-concerts-list [fetchData]="concertsService.getTopRatedConcerts.bind(concertsService,4)"
        title="Concerts Rating"></app-concerts-list>
    <app-bands-list [fetchData]="bandsService.getBandsPopular.bind(bandsService, 7)" title="Bands Populate">
    </app-bands-list>
    <app-bands-list [fetchData]="bandsService.getBandsTopRated.bind(bandsService,7)" title="Bands Populate">
    </app-bands-list>
</main>