<main>
    <!-- <br> -->
    <app-slider></app-slider>
    <app-concerts-list [fetchData]="concertsService.getRecentConcerts.bind(concertsService, 4)"
        title="Concerts Recent"></app-concerts-list>
    <app-concerts-list [fetchData]="concertsService.getRandomFeaturedConcert.bind(concertsService, 4)"
        title="Concerts Featured"></app-concerts-list>
    <app-bands-list [fetchData]="concertsService.getRandomFeaturedBands.bind(concertsService, 4)"
        title="Bands Featured"></app-bands-list>
</main>