<div class="body">
    <div class="ring">
        <i style="--clr: #00f0a;"></i>
        <i style="--clr: #ff00bb;"></i>
        <i style="--clr: #ff00bb;"></i>
        <div class="login">
            <h2>Register</h2>
            <form [formGroup]="myForm" (ngSubmit)="registerUser()">
                <div class="inputBx">
                    <input type="text" placeholder="Username" formControlName="username">
                    @if (isNotValidField('username')) { <!-- para mostrar los errores -->
                    <p class="error">El username es requerido</p>
                    }
                </div>
                <div class="inputBx">
                    <input type="text" placeholder="Email" formControlName="email">
                    @if (isNotValidField('email')) { <!-- para mostrar los errores -->
                    <p class="error">El email es requerido y debe de tener un formato de email</p>
                    }
                </div>
                <div class="inputBx">
                    <input type="password" placeholder="Password" formControlName="password">
                    @if (isNotValidField('password')) { <!-- para mostrar los errores -->
                    <p class="error">La password es requerido y debe de tener un minimo de 6 caracteres</p>
                    }
                </div>
                <div class=" inputBx">
                    <input type="submit" value="Sign Up">
                </div>
            </form>
            <div class="links">
                <a routerLink="/login">Sign In</a>
            </div>
        </div>
    </div>
</div>