<div class="body">
    <div class="ring">
        <i style="--clr: #00f0a;"></i>
        <i style="--clr: #ff00bb;"></i>
        <i style="--clr: #ff00bb;"></i>
        <div class="login">
            <h2>Register</h2>
            <form [formGroup]="myForm" (ngSubmit)="registerUser()">
                <div class="inputBx">
                    <input type="text" placeholder="Username" formControlName="username">
                    @if (isNotValidField('username')) { <!-- para mostrar los errores -->
                    <p class="error">User name is required</p>
                    }
                </div>
                <br>
                <div class="inputBx">
                    <input type="text" placeholder="Email" formControlName="email">
                    @if (isNotValidField('email')) { <!-- para mostrar los errores -->
                    <p class="error">Email is required and must be in a valid format</p>
                    }
                </div>
                <br>
                <div class="inputBx">
                    <input type="password" placeholder="Password" formControlName="password">
                    @if (isNotValidField('password')) { <!-- para mostrar los errores -->
                    <p class="error">Password is required and must be at least 6 characters long</p>
                    }
                </div>
                <br>
                <div class=" inputBx">
                    <input type="submit" value="Create Account">
                </div>
            </form>
            <div class="links">
                <a routerLink="/login">Log In</a>
                <a routerLink="/registerBand">Are You a Band? Apply Here</a>
            </div>
        </div>
    </div>
</div>